<%= form_for :session, url: session_path do |form| %>
  <div>
    <%= form.label :unername %>
    <%= form.unername_field :unername %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.submit "Sign in" %>
  </div>
<% end %>
